/* 초기화 */
* { margin: 0; padding: 0; scroll-behavior: smooth;}
ul,ol,li {list-style: none;}
img { vertical-align: top;}
a { text-decoration: none; color: #000;}
.clear:after { content: ""; display: block; clear: both;}

/* font */
html {font-family: 'Noto Sans KR', sans-serif;}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Oswald:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
.oswald { font-family: 'Oswald', sans-serif;}
.mont {font-family: 'Montserrat', sans-serif;}



/* common */
body { 
    background-color: #fff5fe;
}
#wrapper { 
    border: 4px solid #000; 
    max-width: 100%;
    margin: 45px;
    position: relative;
    overflow: hidden;
}
#wrapper:after { 
    content: "YOUR BRAND"; 
    display: block; 
    transform: rotate(-90deg); 
    position: fixed; 
    left: -20px; top: 50%;
    color:#000; font-weight: 600; 
    font-size: 15px; 
    font-family: 'Oswald', sans-serif !important;
}
#wrapper:before { 
    content: "YOUR BRAND"; 
    display: block; 
    transform: rotate(-90deg); 
    position: fixed; 
    right: -15px; top: 50%; 
    color:#000; 
    font-weight: 600; 
    font-size: 15px; 
    font-family: 'Oswald', sans-serif !important;
}

/* header */
#header {
    padding: 30px;
    border-bottom: 4px solid #000;
    position: relative;
}
#header .logo {
    text-align: center;
    margin-bottom: 30px;
}
#header .gnb {
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}
#header .util {
    position: absolute;
    right: 30px;
    bottom: 25px;
    display: flex;
}
#header .util > li {
    padding: 5px 10px;
    height: 20px;
}
#header .util > li img {
    height: 100%;
}

/* slide */
#slide {
    position: relative;
    width: 100%;
    height: 835px;
    border-bottom: 4px solid #000;
}
#slide .slide-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    transition: 0.3s;
}
#slide .slide-item > img {
    width: 100%;
    height: 100%;
}
#slide .slide-item.on {
    opacity: 1;
}
.slide-dot-wrap {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.slide-dot-wrap .slide-dot {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    z-index: 9;
    border-radius: 100%;
    margin: 2px;
    cursor: pointer;
}
.slide-dot-wrap .slide-dot.on {
    background-color: #000;
}
.slide-btn {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.slide-btn > span {
    display: inline-block;
    height: 30px;
    position: absolute;
    cursor: pointer;
}
.slide-btn .prev {
    left: 30px;
}
.slide-btn .next {
    right: 30px;
}

/* INFLUENCER PICK */
#best-product-wrapper {
    text-align: center;
    position: relative;
    border-bottom: 4px solid #000;
}
.c-title {
    padding: 100px 0;
    font-size: 55px;
    font-weight: 500;
}
.procust-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}
.product {
    width: 30%;
}
.product02 {
    position: relative;
    top: 250px;
}
.product-item {
    position: relative;
    z-index: 10;
    background-color: #fff;
    border: 4px solid #fff;
    width: 100%;
    margin-bottom: 40px;
    padding: 18px;
    transition: 0.5s;
}
.product-item:hover {
    border: 4px solid #000;
}
.product-item:hover .price {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}
.product-item .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 540px;
    width: 100%;
}
.product-name p {
    font-size: 25px;
}
.product-name span {
    font-size: 17px;
    font-weight: 600;
}
.price {
    height: 50px;
    border: 1px solid #c18eff;
    margin: 25px 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    transition: 0.5s;
}
.sale-price {
    text-decoration: line-through;
    font-weight: 400;
    margin-right: 5px;
}
.addcart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.addcart-icon a:first-child {
    margin-right: 10px;
}
/* 흐르는 그라데이션 텍스트이미지 */
.marquee {
    display: flex;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: Marquee;
    animation-name: Marquee;
    animation-duration: 90s;
    position: absolute;
    bottom: 20%;
    z-index: 1;
}
.marquee > img {
    margin-right: 50px;
}
@keyframes Marquee {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
.more-btn {
    width: 250px;
    height: 50px;
    border: 4px solid #000;
    border-radius: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
    margin-bottom: 100px;
    transition: 1s;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.more-btn:hover {
    background-color: #000;
    color: #fff;
}

/* CELEB LOOK BOOK */
#lookbook-wrapper {
    position: relative;
    height: 1500px;
    text-align: center;
    background: rgb(213,207,255);
    background: linear-gradient(90deg, rgba(213,207,255,1) 0%, rgba(255,219,227,1) 100%);
    border-bottom: 4px solid #000;
}
#lookbook-wrapper .c-title {
    padding: 50px 0 100px;
}
#lookbook-wrapper .slide-dot-wrap {
    bottom: 50px;
}
.lookbook-slide-wrap {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}
.lookbook-slide-wrap > div {
    position: absolute;
    top: 0;
    left: 0;
}
.lookbook-item > img {
    width: 100%;
}
.lookbook-item {
    opacity: 0;
    transition: 0.3s;
}
.lookbook-item.on {
    opacity: 1;
}
.slide-dot-wrap .dot {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    z-index: 9;
    border-radius: 100%;
    margin: 2px;
    cursor: pointer;
}
.slide-dot-wrap .dot.on {
    background-color: #000;
}

.mont-marquee-wrap > .mont-top {
    background-color: #fff;
    padding: 15px 50px;
    transform: rotate(-4deg)translateX(-30px);
    width: 100%;
    position: relative;
    top: -190px;
    z-index: 9;
}
.mont-marquee-wrap > div > p {
    font-size: 200px;
    font-weight: 900;
    white-space: nowrap;
}
.mont-marquee-wrap {
    position: absolute;
    top: 20%;
}
.mont-marquee-wrap > .mont-top > p {
    color: #e37bf3;
}
.mont-bot {
    background-color: #a649f3;
    padding: 15px 50px;
    transform: rotate(-2deg)translateX(-30px);
    width: 100%;
}
.mont-marquee-wrap > .mont-bot > p {
    color: #fff;
}
/* 흐르는 그라데이션 텍스트이미지 */
.mont-marquee {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: montMarquee;
    animation-name: montMarquee;
    animation-duration: 180s;
}
.mont-marquee-back {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: montMarqueeBack;
    animation-name: montMarqueeBack;
    animation-duration: 180s;
}
@keyframes montMarquee {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@keyframes montMarqueeBack {
    0% {
        -webkit-transform: translateX(-80%);
        transform: translateX(-80%);
    }
    100% {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
}

/* membership */
#membership-wrapper {
    padding-bottom: 100px;
    text-align: center;
    border-bottom: 4px solid #000;
}
.membership-wrap {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.membership-wrap > div > img {
    height: 100px;
    margin-bottom: 50px;
}
.membership-wrap > div {
    width: 33.333333%;
}
.membership-wrap > div:nth-child(2) {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
.membership-wrap > div > h5 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}
.membership-wrap > div > p {
    font-size: 18px;
}

/* YOUR BRAND ON AIR & REVIEW */
#onair-review-wrapper {
    text-align: center;
    position: relative;
    border-bottom: 4px solid #000;
}
#onair-review-wrapper .c-title {
    padding-bottom: 50px;
}
.onair-review-wrap {
    max-width: 1300px;
    margin: 0 auto;
}
.review-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 70px;
    position: relative;
}
.review-wrap > div {
    width: 24%;
    text-align: left;
    background-color: #fff;
}
.review-item .review-txt {
    padding: 15px;
}
.review-txt h5 {
    font-size: 17px;
}
.review-txt .user-id {
    font-weight: bold;
}
.review-txt p {
    font-size: 13px;
    margin-top: 15px;
}
.review-wrap > div > img {
    width: 100%;
}
.onair-review-wrap .slide-btn {
    position: absolute;
    width: 100%;
}
.onair-review-wrap .slide-btn .prev {
    left: -60px;
}
.onair-review-wrap .slide-btn .next {
    right: -60px;
}

/* instagram */
#insta-wrapper {
    text-align: center;
}
#insta-wrapper .c-title {
    padding-bottom: 20px;
}
.insta-wrap {
    display: flex;
    max-width: 1300px;
    margin: 50px auto 85px;
}
.insta-wrap > img {
    width: 25%;
}

/* footer */
#footer {
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 60px 0 30px;
}
#footer .f-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
#footer a {
    color: #fff;
    font-weight: bold;
}
.f-center {
    max-width: 1300px;
    margin: 0 auto;
}
#footer .center-num {
    font-size: 45px;
    font-weight: 500;
}
#footer .top-warp {
    display: flex;
    justify-content: space-between;
}
#footer .bot-wrap:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background: rgb(213,207,255);
    background: linear-gradient(90deg, rgba(213,207,255,1) 0%, rgba(255,219,227,1) 100%);
    margin: 30px 0;
}
#footer .bot-wrap .sns-wrap > span {
    margin-right: 15px;
}
.f-info-wrap {
    display: flex;
    justify-content: space-between;
}
.f-info {
    margin: 30px 0;
    line-height: 25px;
}